.pageContainer {
    background-image: url("../../../img/index_header.jpg");
    filter: brightness(80%);
    width:100%;
    height:fit-content !important;
    padding: 4% 0% 5% 0%;
}

.formContainer {
    margin: 0% 20% 0% 20%;
    background-color:rgba(255,255,255, .8);
}

.formContent {    
    padding: 2% 10% 5% 10%;
}

.formTitle {
    padding-top: 5%;
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
}

.formInput {
    font-size: 1.6rem !important;
}