
.cardComponent {
  width:auto;
  height:100%;
}

.cardTitle {
  font-weight: bolder;
  font-size: xx-large !important;
  color:white;
  height: 100%;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s; /* Animation */
}

.cardImage {
  filter: brightness(80%);
}

.cardImageSpeaker {
  height: 100% im !important;
  object-fit: cover;
}
.cardTitleWord{
  transition: transform 0.5s; 
}

.cardTitle:hover .cardTitleWord{
  transform: scale(1.5);
}

