/* generals */
p, li {
  color: #4f4f4f;
}

/* background image options */
.no-webp header.masthead {
  background-image: url('../img/k2w_header.jpg');
}
.webp header.masthead {
  background-image: url('../img/k2w_header.webp');
}
/* main header options */
header.masthead{
  background-color: #000;
  margin: 0;
}
header.masthead .site-heading > h2{
  font-weight: 400;
  font-size: 2rem;
}
.overlay {
  background-color: #343a402e;
}
#section1 h2 {
  font-size: 2rem;
}
#section1 h2 span img, #section1 i.fa-user-tie{
  width: 2.5rem;
}
#section1 i.fa-user-tie{
  font-size: 1.5rem;
}

/* BREAKPOINTS */
/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* background image options */
  .no-webp header.masthead {
    background-image: url('../img/k2w_header_desk.jpg');
  }
  .webp header.masthead {
    background-image: url('../img/k2w_header_desk.webp');
  }
  header.masthead{
    background-color: #000;
    margin: 0;
  }
  header.masthead .site-heading > h2{
    font-size: 3rem;
  }
  #section1 h2 {
    font-size: 3.5rem;
  }
  #section1 h2 span img, #section1 i.fa-user-tie{
    width: 3rem;
  }
  #section1 i.fa-user-tie{
    font-size: 2.5rem;
  }
  
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}
