/* generals */
p, li {
  color: #4f4f4f;
}

/* background image options */
.no-webp header.masthead {
  background-image: url('../img/kidscorner_header.jpg');
}
.webp header.masthead {
  background-image: url('../img/kidscorner_header.webp');
}
header.masthead{
  background-color: #000;
  margin: 0;
}
header.masthead .site-heading > h2{
  font-weight: 400;
  font-size: 2rem;
}
.overlay {
  background-color: #343a402e;
}
#section1 h2 {
  font-size: 2rem;
}

/* cards */
.card-wrapper {
  padding: 0;
  border-radius: 0.5rem;
  background-color: transparent;
  position: relative;
  width: 90%;
  height: 20rem;
  padding: 1.5rem 0 0 1.5rem;
}
.card-inner-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #0085a1d1;
  border-radius: 0.5rem;
}
.card-image-wrapper {
  position: absolute;
  width: 18rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 0.5rem;
  left: -1rem;
  top: -1rem;
  box-shadow: 9px 9px 20px #00000085;
  transition: all ease-in 0.1s;
}
.card-image-wrapper img{
  width: 100%;
  height: 100%;
}
.card-action-button-wrapper {
  position: absolute;
  bottom: -1rem;
  left: -1rem;
  border-radius: 0.5rem;
  background-color: #12223D;
  width: 5rem;
  height: 4.5rem;
  font-size: 3rem;
  padding: 0rem 1rem 0 1rem;
  transition: all linear 0.1s
}
.card-action-button-wrapper i {
  color: white;
}
.card-inner-wrapper p {
  position: absolute;
  color: #fff;
  font-family: aressence;
  bottom: -1rem;
  right: 1rem;
  transition: font-size linear 0.1s;
}

/* CARD HOVER EFFECT */
.card-wrapper:hover .card-image-wrapper {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: all ease-in 0.1s;
  box-shadow: none;
}
.card-wrapper:hover .card-action-button-wrapper {
  font-size: 4rem;
  width: 6rem;
  height: 6rem;
  transition: all step-start 0.1s 0.1s;
}

.embed-responsive {
  background-color: #4f4f4f;
}

.modal-content {
  background-color: #607D8B;
  flex-direction: row;
  padding: 2rem;
  width: auto;
}
.news-card {
  position: relative;
  justify-content: center;
  width: 5rem;
  height: 12rem;
  margin: 0.5rem;
}
.news-card img {
  width: 100%;
  height: 100%;
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 3rem;
}
.news-card a {
  padding: 0.5rem;
  align-self: center;
  border-radius: 1rem;
  border: 2px solid;
  border-color: aliceblue;
}
.news-card a:hover {
  color: #fff;
}
.news-card p {
  text-align: left;
  margin: 0rem;
  padding: 0rem 0.5rem;
  color: #cddc39;
}

/* BREAKPOINTS */
/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card-image-wrapper {
    width: 16rem;
    height: 15rem;
  }
  .news-card {
    position: relative;
    height: 12rem;
    margin: 0.5rem;
  }
  .news-card img {
    width: 100%;
    height: 100%;
    max-width: 6rem;
    max-height: 6rem;
    margin: 0 1rem;
    border-radius: 3rem;
  }
  .news-card a {
    padding: 0.5rem;
    align-self: center;
    border-radius: 1rem;
    border: 2px solid;
    border-color: aliceblue;
  }
  .news-card p {
    text-align: left;
    margin: 0rem;
    padding: 0rem 0.5rem;
    color: #cddc39;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header.masthead .site-heading > h2{
    font-size: 3rem;
  }
  #section1 h2 {
    font-size: 4.5rem;
  }
  .card-image-wrapper {
    width: 22rem;
    height: 15rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card-image-wrapper {
    width: 15rem;
    height: 15rem;
  }
  /* CARD HOVER EFFECT */
  .card-wrapper:hover .card-image-wrapper {
    width: 17rem;
    height: 19rem;
  }

  
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1900px) {
  .card-image-wrapper {
    width: 15rem;
    height: 15rem;
  }
}
