/* generals */
p, li {
  color: #4f4f4f;
}
li {
  list-style: none;
}

/* background image options */
.no-webp header.masthead {
  background-image: url('../img/takeaction_header.jpg');
}
.webp header.masthead {
  background-image: url('../img/takeaction_header.webp');
}
/* main header options */
header.masthead{
  background-color: #000;
}
header.masthead .site-heading > h2{
  font-weight: 400;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 150px 0 300px;
}
.overlay {
  background-color: #343a4073;
}

/* why ocean section */
#takeaction_wrapper h2{
  font-size: 2rem;
}

#actions_wrapper h2{
 font-size: 1.6rem;
}
#actions_wrapper li {
  list-style-type: disc;
}
#actions_wrapper span a{
  color: #0086a1;
  text-decoration: none;
}
#actions_wrapper h2 i {
  font-size: 1rem;
}
#actions_wrapper h2 span img {
  width: 3rem;
}

/* BREAKPOINTS */
/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 300px 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #takeaction_wrapper h2{
    font-size: 3.5rem;
  }

  #actions_wrapper h2{
    font-size: 2.5rem;
   }

   #actions_wrapper h2 i {
    font-size: 1.2rem;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}