/* generals */
p {
  color: #4f4f4f;
}

li {
  list-style: none;
}

#section1 h2 {
  font-size: 2rem;
}

.overlay {
  background-color: #343a4073;
}

form, #errorAlert {
  font-family: aressence;
}
form span.text-danger {
  font-size: 0.8rem;
}
form textarea {
  height: 8rem !important;
}

/* background image options */
.no-webp header.masthead {
  background-image: url('../img/k2w_ambassador_header.jpg');
}
.webp header.masthead {
  background-image: url('../img/k2w_ambassador_header.webp');
}
/* main header options */
header.masthead{
  background-color: #000;
}
header.masthead .site-heading > h2{
  font-weight: 400;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 150px 0 300px;
}

/* BREAKPOINTS */
/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 300px 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #section1 h2 {
    font-size: 3.5rem;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}
