/* generals */
p, li {
  color: #fff;
  font-family: aressence;
}
.author {
  font-size: 1.5rem;
}
section {
  background-color: #607D8B;
}
/* background image options */
.no-webp header.masthead {
  background-image: url('../img/testimonialsMobile.jpg');
}
.webp header.masthead {
  background-image: url('../img/testimonialsMobile.webp');
}
header.masthead{
  background-color: #000;
  margin: 0;
}
header.masthead .site-heading > h2{
  font-weight: 400;
  font-size: 2rem;
}
.overlay {
  background-color: transparent;
}
#section1 h2 {
  font-size: 2rem;
}
  
  /* BREAKPOINTS */
  /* Small devices (landscape phones, 576px and up) */
  @media only screen and (min-width: 576px) {
    
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    
  }
  
  /* Large devices (desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    header.masthead .site-heading > h2{
      font-size: 3rem;
    }
    #section1 h2 {
      font-size: 3.5rem;
    }
    /* background image options */
    .no-webp header.masthead {
      background-image: url('../img/testimonials.jpg');
    }
    .webp header.masthead {
      background-image: url('../img/testimonials.webp');
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    #mainNav .nav-link {
      padding: 10px 10px;
      color: black;
    }
    #mainNav .fa-circle{
      color: black;
      transition: color linear 0.5s;
    }
    #mainNav .fab, #mainNav .fa-hand-holding-usd, #mainNav .fa-bars{
      color: #fff;
    }
    #mainNav-sticky-wrapper.is-sticky #mainNav a{
      color: #fff;
      transition: color linear 0.5s;
    }
    #mainNav-sticky-wrapper.is-sticky #mainNav .fa-circle{
      color: #fff;
      transition: color linear 0.5s;
    }
    #mainNav-sticky-wrapper.is-sticky #mainNav .fab, 
    #mainNav-sticky-wrapper.is-sticky #mainNav .fa-hand-holding-usd, 
    #mainNav-sticky-wrapper.is-sticky #mainNav .fa-bars{
      color: black;
      transition: color linear 0.5s;
    }

    section {
      padding: 4rem 6rem;
    }
  }