/* generals */
p, li {
    color: #4f4f4f;
  }
  /* background image options */
.no-webp header.masthead {
  background-image: url('../img/newsletter.jpg');
}
.webp header.masthead {
  background-image: url('../img/newsletter.webp');
}
  header.masthead{
    background-color: #000;
    margin: 0;
  }
  header.masthead .site-heading > h2{
    color: #cfa919;
    font-weight: 400;
    font-size: 3rem;
  }
  .overlay {
    background-color: #343a402e;
  }
  section {
    padding: 3rem 0rem;
  }
  
  /* NEWS CARD */
  .year-label {
    border-radius: 1rem;
    border: 2px solid #263238;
    margin-right: 80%;
    padding: 0.5rem 1rem;
  }
  .news-card {
    position: relative;
    width: 5rem;
    height: 7rem;
    margin: 0.5rem;
  }
  .news-card img {
    width: 100%;
    height: 100%;
    max-width: 5rem;
    max-height: 5rem;
    border-radius: 3rem;
  }
  .news-card span {
    display: none;
  }
  .news-card p {
    margin: 0;
    padding: 0rem 0.5rem;
  }
  .news-card.zoom-in {
    position: absolute;
    z-index: 100;
    width: 20rem;
    height: 30rem;
    transition: all ease-in 0.2s;
  }
  .news-card.news-card.zoom-in img {
    width: 100%;
    height: 100%;
    max-width: 20rem;
    max-height: 30rem;
    transition: all ease-in 0.2s;
  }
  .news-card.zoom-in span {
    display: block;
    position: absolute;
    right: 0rem;
    top: -1.5rem;
    color: rgb(0, 0, 0);
    background-color: #CDDC39;
    padding: 0 1rem;
    border-radius: 5rem;
    font-size: 2rem;
    font-weight: bold;
  }
  .news-card.news-card.zoom-in p {
    display: none;
  }
  .news-card.news-card.zoom-in a {
    background-color: #CDDC39;
    padding: 1rem 1.5rem;
    margin: 1rem 3rem;
    border-radius: 3rem;
    display: block;
  }

  /* Card Hover effect */
  .news-card:hover {
    cursor: pointer;
  }
  
  /* BREAKPOINTS */
  /* Small devices (landscape phones, 576px and up) */
  @media only screen and (min-width: 576px) {
    
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    /* NEWS CARD */
    .year-label {
      margin-right: 80%;
      padding: 1rem 2rem;
    }
    .news-card {
      width: 7rem;
      height: 9rem;
      margin: 0.5rem;
    }
    .news-card img {
      width: 100%;
      height: 100%;
      max-width: 7rem;
      max-height: 7rem;
      border-radius: 5rem;
    }
    .news-card.zoom-in {
      width: 30rem;
      height: 40rem;
    }
    .news-card.news-card.zoom-in img {
      max-width: 30rem;
      max-height: 40rem;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    header.masthead .site-heading > h2{
      font-size: 5rem;
    }
    #section1 h2 {
      font-size: 3.5rem;
    }

    .news-card p {
      padding: 0 1rem;
    }
    .news-card.zoom-in {
      width: 35rem;
      height: 50rem;
    }
    .news-card.news-card.zoom-in img {
      max-width: 35rem;
      max-height: 50rem;
    }
    .news-card.news-card.zoom-in a {
      margin: 1rem 6rem;
    }
    
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .news-card.zoom-in {
      width: 25rem;
      height: 30rem;
    }
    .news-card.news-card.zoom-in img {
      max-width: 25rem;
      max-height: 30rem;
    }
    .news-card.news-card.zoom-in a {
      margin: 1rem 6rem;
    }
  }

  @media only screen and (min-width: 1900px) {
    /* NEWS CARD */
    .year-label {
      margin-right: 80%;
      padding: 1rem 2rem;
    }
    .news-card {
      width: 9rem;
      height: 11rem;
      margin: 0.5rem;
    }
    .news-card img {
      width: 100%;
      height: 100%;
      max-width: 9rem;
      max-height: 9rem;
      border-radius: 5rem;
    }
    .news-card p {
      padding: 0 1.5rem;
    }
    .news-card.zoom-in {
      width: 30rem;
      height: 40rem;
    }
    .news-card.news-card.zoom-in img {
      max-width: 30rem;
      max-height: 40rem;
    }
    .news-card.news-card.zoom-in a {
      margin: 1rem 6rem;
    }
    
  }