/* generals */
body{
  background-color: #CFD8DC;
}
p, li {
    color: #4f4f4f;
}
/* background image options */
.no-webp header.masthead {
  background-image: url('../img/team.jpg');
}
.webp header.masthead {
  background-image: url('../img/team.webp');
}
header.masthead{
  background-color: #000;
  margin: 0;
  margin-bottom: 5rem;
}
header.masthead .site-heading > h2{
  font-weight: 400;
  font-size: 2rem;
}
.overlay {
  background-color: #343a402e;
}
#section1 h2 {
  font-size: 2rem;
}

/* CARD */
.card-outer-wrapper {
  border: 0px;
  position: relative;
  width: 20rem;
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 1rem;
  overflow: hidden;
  transition: all 0.1s;
}
.card-img-outer-wrapper {
  position: relative;
  display: flex;
  border-radius: 1.2rem;
  height: 10rem;
  width: 10rem;
  overflow: hidden;
  transition: all 0.1s;
}
.card-img-inner-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.1s;
}
.card-body-outer-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 10rem;
  width: 10rem;
  transition: all 0.1s;
}
.card-body-inner-wrapper {
  background-color: white;
  position: absolute;
  display: inline-block;
  border-radius: 0 1rem 1rem 0;
  padding: 1rem;
  width: 100%;
  height: 80%;
  transition: all 0.1s;
}
.card-img-inner-wrapper img {
  max-height: 10rem;
  width: 100%;
  height: 100%;
  transition: all 0.1s;
}
.card-body-inner-wrapper h5 {
  font-size: 1rem;
  transition: all 0.1s;
}
.card-body-inner-wrapper h6 {
  font-size: 0.8rem;
  transition: all 0.1s;
}
.card-body-inner-wrapper button{
  padding: 0.5rem 0.5rem;
  font-size: 0.6rem;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #212529;
  background-color: #B0BEC5;
  border-color: #B0BEC5;
  font-family: aressence;
  transition: all 0.1s;
}

/* card on hover effect */
.card-outer-wrapper:hover {
  box-shadow: 8px 13px 20px 0px #212121de;
  margin: 1.3rem 1rem;
  transition: all 0.2s ease-in;
}
.card-outer-wrapper:hover .card-img-outer-wrapper {
  border-radius: 0rem;
  transition: all 0.2s;
}
.card-outer-wrapper:hover .card-body-outer-wrapper {
  height: 10rem;
}
.card-outer-wrapper:hover .card-body-inner-wrapper {
  border-radius: 0;
  height: 100%;
  transition: all 0.2s;
}
.card-outer-wrapper:hover .card-body-inner-wrapper h5 {
  font-size: 1rem;
}
.card-outer-wrapper:hover .card-body-inner-wrapper h6 {
  font-size: 0.8rem;
}
.card-outer-wrapper:hover .card-body-inner-wrapper button{
  padding: 0.5rem 0.5rem;
  font-size: 0.6rem;
  border-radius: 0;
  color: #212529;
  background-color: #B0BEC5;
  border-color: #B0BEC5;
  transition: all 0.2s;
}
.modal-content {
  margin-top: 10rem;
}

/* BREAKPOINTS */
/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card-outer-wrapper:hover {
    margin: 2rem 2rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header.masthead .site-heading > h2{
    font-size: 4rem;
  }
  #section1 h2 {
    font-size: 3.5rem;
  }
  .card-outer-wrapper {
    margin: 1.5rem 3rem;
  }
  .card-outer-wrapper:hover {
    margin: 2rem 4rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  section > .row {
    margin: 0 13rem !important;
  }
  .card-outer-wrapper {
    margin: 1.5rem 3rem;
  }
  .card-outer-wrapper:hover {
    margin: 2rem 3.5rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1900px) {
  section > .row {
    margin: 0 13rem !important;
  }
  .card-outer-wrapper:hover {
    margin: 2rem 5rem;
  }
}